*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: space-evenly;
    height: calc(100vh -2px);
    max-width: 100vw;
}